//landing.css

body {
    margin: 0;
    padding: 0;



}

#root {}

.landingContainer {
    margin: 0 auto;
    display: grid;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.landingContent {
    margin-right: 0;
    margin-left: 0;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 2;
    margin-top: 36vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url('../../assets/matches.png'); */
    color: white;
}

.landingBgImage {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1/2;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.landingBgImage img {
    width: 111vw;

}