
body {
    margin: 0;
    padding: 0;



}

#root {}




.landingContainer {
    margin: 0 auto;
    display: grid;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
    overflow-x: hidden;


}




.landingContent {
    margin-right: 0;
    margin-left: 0;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 2;
    margin-top: 36vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url('../../assets/matches.png'); */
    color: white;
}

.landingBgImage {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1/2;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.landingBgImage img {
    width: 111vw;

}

#issueButton {
    font: 700 12px/1px "freight-sans-pro", Helvetica, Arial, sans-serif !important;
    height: 37px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-align: center;
    padding: 18px 12px !important;
    margin: 0 auto 20px auto;
    min-width: 87px;
    display: inline-block;
    color: #fff;
    background: #000;
    -webkit-font-smoothing: antialiased;
    border: 2px solid black !important;
}

.down {
    align-items: flex-start;
    background: url('http://nautil.us/assets/site/img/modules/issue-curtain/curtain-down.png?1364760745') no-repeat 50% 0;
    position: absolute;
    bottom: 40px;
    width: 110px;
    border: none;
    text-align: center;
    padding: 58px 0 0;
    font: 700 12px/12px "freight-sans-pro", Helvetica, Arial, Sans-Serif;
    text-transform: uppercase;
    left: 50%;
    margin-left: -55px;
    /* margin-bottom: 2vh; */
    letter-spacing: .12em;
    cursor: pointer;
    z-index: 2;
    color: white;
}

#landingHeader {
    font: italic 900 68px/68px "freight-display-pro", Georgia, "Times New Roman", Serif;
    color: #fff;
    /*text-transform: uppercase;*/
    margin: 0 0 .5vh;
    letter-spacing: -0.01em;
}

#landingSpan {
    font: 800 16px/16px "freight-sans-pro", Helvetica, Arial, Sans-Serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0 0 8px;
    display: inline-block;
    
}

#landingIntro {
    width: 560px;
    font: 400 18px/24px "freight-text-pro", Georgia, "Times New Roman", Serif;
    margin: 0 auto px;
    margin-bottom: 0;
    color: (rgb(255, 255, 255));
    opacity: .75;
}

#landingIssueLink {
    font: 700 12px/24px "freight-sans-pro", Helvetica, Arial, Sans-Serif;
    letter-spacing: 1px;
    text-transform: uppercase;

    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 2px 1px ;
    background-repeat: repeat-x;
    
    margin-top: .7vh;
    margin-bottom: 3vh;
    /* text-decoration: underline dashed blue ; */

    /* text-decoration-thickness: 1px; */

}

#landingIssueLink a {
    text-decoration-thickness: 20px;
}